/* --- #0 VARIAVEIS ======================================================== */

:root {
	--ui-preto: #303030;
	--ui-azul: #0C70F2;
	--ui-fundo: #EFEBE4;
	--ui-borda: #818A91;

	--cz-1: #EDEFF2;
	--cz-2: #E8EBEF;
	--cz-3: #DCE0E4;
	--cz-4: #CFD6DC;
	--cz-5: #C9CDD1;
	--cz-6: #BEC3C6;

	--dnc-e: #0C70F2;
	--dnc-m: #00ABFF;
	--dnc-c: #00D7EE;

	--mkt-e: #CF4045;
	--mkt-m: #D0484D;
	--mkt-c: #D25A5F;

	--dta-e: #F0DE35;
	--dta-m: #F5E85B;
	--dta-c: #F3EE76;

	--prj-e: #AF6DA8;
	--prj-m: #BC82B4;
	--prj-c: #CB9AC2;

	--j4b-e: #016E9B;
	--j4b-m: #2FADC0;
	--j4b-c: #3FC2CC;

	--prd-e: #70BBAD;
	--prd-m: #9ACCC4;
	--prd-c: #B1D8D2;

	--tec-e: #D76F32;
	--tec-m: #DB813B;
	--tec-c: #E0945E;

	--old-verde: #6BFBCE;
	--old-rosa: #E45286;
	--old-laranja: #FFBB59;
}

/* --- #3 FONTS ======================================================== */

	/* Gotham */

	@font-face {
		font-family: gotham-re;
		src: url('../fonts/_gotham/Gotham-Book.otf');
	}

	@font-face {
		font-family: gotham-bo;
		src: url('../fonts/_gotham/Gotham-Bold.otf');
	}

	@font-face {
		font-family: gotham-bl;
		src: url('../fonts/_gotham/Gotham-Black.otf');
	}

	@font-face {
		font-family: gotham-me;
		src: url('../fonts/_gotham/Gotham-Medium.otf');
	}

	@font-face {
		font-family: gotham-th;
		src: url('../fonts/_gotham/Gotham-Thin.otf');
	}

	@font-face {
		font-family: gotham-ut;
		src: url('../fonts/_gotham/Gotham-Ultra.otf');
	}

/* Raleway */

	@font-face {
		font-family: rale-re;
		src: url('../fonts/_raleway/Raleway-Regular.ttf');
	}

	@font-face {
		font-family: rale-bo;
		src: url('../fonts/_raleway/Raleway-Bold.ttf');
	}

	@font-face {
		font-family: rale-bl;
		src: url('../fonts/_raleway/Raleway-Black.ttf');
	}

	@font-face {
		font-family: rale-me;
		src: url('../fonts/_raleway/Raleway-Medium.ttf');
	}

	@font-face {
		font-family: rale-th;
		src: url('../fonts/_raleway/Raleway-Thin.ttf');
	}

/* --- #3 RESET ======================================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: gotham-re, sans-serif;
	vertical-align: baseline;
	color: var(--ui-preto);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- #3 LAYOUT ======================================================== */

	.d_flex {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

/* --- #4 APLICAÇÃO DE CORES ======================================================== */

	body {
		background: var(--ui-fundo);
	}

	/* Color */

		.cor_ui_azul, .cor_ui_azul * {color: var(--ui-azul);}
			.cor_ui_azul_claro, .cor_ui_azul_claro * {color: var(--dnc-c);}
			.cor_ui_azul_medio, .cor_ui_azul_medio * {color: var(--dnc-m);}

		.cor_ui_preto, .cor_ui_preto * {color: var(--ui-preto);}

			.cor_branco, .cor_branco * {color: #fff;}
			.cor_preto, .cor_preto * {color: #000;}

		/* [!] Colocar todas as outras cores */

	/* Background */

		.fundo_ui_azul, .fundo_ui_azul * {background: var(--ui-azul);}
			.fundo_ui_azul_claro, .fundo_ui_azul_claro * {background: var(--dnc-c);}
			.fundo_ui_azul_medio, .fundo_ui_azul_medio * {background: var(--dnc-m);}

		.fundo_ui_preto, .fundo_ui_preto * {background: var(--ui-preto);}

			.fundo_branco, .fundo_branco * {background: #fff;}
			.fundo_preto, .fundo_preto * {background: #000;}

		/* [!] Colocar todas as outras cores para os fundos */

