/* Seções */

	.titulo_secao {
		margin: 13px  0;
	}

		.titulo_secao h2 {
			font: 1.2em gotham-bo;
			color: var(--ui-borda);
		}

		.titulo_secao h3 {
			font: 1em gotham-bo;
			color: var(--ui-borda);
		}

	/* layout */

		.coluna_demonstracao {
			flex-direction: column;
			padding: 13px;
			outline: 1px solid var(--ui-borda);
		}
			.coluna_demonstracao legend {
				width: 100%;
				text-align: center;
				margin-bottom: 13px;
				font: .9em gotham-re;
				color: var(--ui-borda);
			}
				.coluna_demonstracao * {
					margin: 5px 0;
				}